{% extends "base.html" %}
{% block morehead %}
    <style>
        textarea {
            border: 1px dotted var(--page-Border);
            width:100%;
            margin-top: 5px;
            font-size: 12px;
            color: var(--page-Noun);
            background-color: var(--page-Tooltip);
        }
        h1 {
            margin: 0;
            color: var(--page-Particle);
        }
        h4 {
            margin: 0;
            margin-bottom: .25em;
            color: var(--page-Noun);
        }
        
        input[type=button], input[type=submit], input[type=reset] {
            background-color: var(--page-Noun);
            border: none;
            color: var(--page-Tooltip);
            padding: 6px 28px;
            text-decoration: none;
            margin: 4px 0px;
            cursor: pointer;
            font-size: 12px;
        }
    </style>
{% endblock %}
{% block morebodytag %} onunload=""{% endblock %}
{% block content %}
    <div class="wrappercomment">
      <h1><span style="color: var(--page-Verb);">Korean</span><span style="color: var(--page-Noun);">-English </span><span style="color: var(--page-Particle);">Interlinear</span></h1>
    </div>
    
    <div class="wrappercomment">
    <p style="margin-bottom: .5em;">
        Designed for learning Korean with any text you want, this program generates crude literal/direct/word-for-word English translations underneath Korean text (interlinear). This offers insights into the language that full-sentence translation obscures. It supplies extra contextual information in clickable pop-up boxes. The generated pages are self-contained files ideal for saving for offline reading. 
    </p>    
    <p>
        As it uses simple public dictionary look-ups, the translations and grammar hints are only possibilities. The parts of speech highlighting of nouns, verbs, etc. is not always accurate either, so don't trust this automatic tool completely. Also, please <a style="color: var(--page-Particle);" target="_blank" rel="noopener noreferrer" href="https://github.com/danjclegg/korean-english-interlinear/issues">advise me</a> of any offensive content in these dictionaries so I can filter it out.
    </p>
    </div>
    
    <div class="wrappercomment">  
        <form role="form" method='POST' action='/generate'>
            <p><textarea autofocus class="form-control" placeholder="Type or paste Korean text here. &#13;&#10;Maximum ~1600 words. &#13;&#10;&#35;Use hashtag for comment lines." name="entry" id="entry" rows="20" cols="40" maxlength="5000"></textarea></p>
            <p>
            <div style="float: left; padding-right: 8px;">
            <input class="btn btn-default" id="butt" type="submit" value="Generate (click once and wait)">
            </div>
            <div style="float: left; margin-top: 4px;">
            <input type="radio" id="light" name="mode" value="light" checked="checked" onclick="switch_theme('light');">
            <label for="light">Light mode</label>
            <input type="radio" id="dark" name="mode" value="dark" onclick="switch_theme('dark');">
            <label for="dark">Dark mode</label>
            </div>
            </p>
        </form>
        <script type="text/javascript">
        var butt = document.getElementById('butt');
        
        if (!((/iphone|ipod|ipad.*os 5/gi).test(navigator.appVersion))) {
            butt.addEventListener('click', function(event) { 
                setTimeout(function () {
                    event.target.disabled = true;
                }, 0);
            });
        }
        
        window.onunload = function(){};

        function paste_sample() {
            entry = document.getElementById("entry");
            if(entry.value != "") {
                alert("There's text already entered, clear it first so I don't overwrite anything :)");
            }
            else {
                entry.value = "#A Brief Sample Message\n안녕하세요, 앱 개발자입니다. 저도 현재 한국어를 배우고 있는데요, 무료 한-영 행간 번역기를 찾을 수 없어 이렇게 직접 하나를 만들게 되었습니다. 이 앱이 여러분의 배움에도 도움이 되었으면 좋겠습니다.";
            }
        }
        
        var darkradio = document.getElementById('dark');
        if(darkradio.checked) {
            switch_theme("dark");
        }
        else {
            switch_theme("light");
        }
        
        </script>
    </div>
    
    <div class="wrappercomment">
    <h4 style="margin-bottom: .5em;">Korean Texts</h4>
    <p style="margin-bottom: .5em;">
    Click here to <a style="color: var(--page-Particle);" href="Javascript:paste_sample()">paste a brief sample message</a> above.<br>
    <a style="color: var(--page-Particle);" target="_blank" rel="noopener noreferrer" href="https://open.umn.edu/opentextbooks/textbooks/422">Korean Through Folktales</a> has text at different reading levels.<br>
    Here is the <a style="color: var(--page-Particle);" target="_blank" rel="noopener noreferrer" href="https://search.naver.com/search.naver?%20sm=tab_sug.top%20&where=nexearch%20&query=%EC%95%A0%EA%B5%AD%EA%B0%80+%EA%B0%80%EC%82%AC%20&oquery=thskrl%20&tqi=UJW6FlprvTVsssmd1UNssssstoZ-093930%20&acq=dornrrk%20&acr=1%20&qdt=0">Korean National Anthem</a>.<br>
    Here is a <a style="color: var(--page-Particle);" target="_blank" rel="noopener noreferrer" href="http://18children.president.pa.go.kr/mobile/our_space/fairy_tales.php">collection of folktales</a> you might want to read.
    </div>
    <div class="wrappercomment">
    <h4>More Information</h4>
    <p>
    Check out the <a style="color: var(--page-Particle);" target="_blank" rel="noopener noreferrer" href="https://github.com/danjclegg/korean-english-interlinear">github page</a> for more technical information on the program. See footer for license and disclaimer.
    </p>
    </div>
{% endblock %}
