{% extends "base.html" %}
{% block morehead %}
    <style>
        textarea {
            border: 1px dotted #999;
            width:100%;
            margin-top: 5px;
            font-size: 12px;
        }
        h1 {
            margin: 0;
            color: {{ SuperClass_Colours["Particle"]|safe }};
        }
        h4 {
            margin: 0;
            margin-bottom: .25em;
            color: {{ SuperClass_Colours["Noun"]|safe }};
        }
    </style>
    <script type="text/javascript">
    window.onunload = function(){};

    var butt = document.getElementById('butt');
    
    butt.addEventListener('click', function(event) { 
        setTimeout(function () {
            event.target.disabled = true;
        }, 0);
    });
    
    /*! Reloads page on every visit */
    // https://stackoverflow.com/questions/24046/the-safari-back-button-problem
    // https://coderwall.com/p/ndecha
    function Reload() {
        try {
            var headElement = document.getElementsByTagName("head")[0];
            if (headElement && headElement.innerHTML)
                headElement.innerHTML += " ";
            } catch (e) {}
    }

    /*! Reloads on every visit in mobile safari */
    if ((/iphone|ipod|ipad.*os 5/gi).test(navigator.appVersion)) {
        window.onpageshow = function(evt) {
            if (evt.persisted) {
                //document.body.style.display = "none";
                //location.reload();
                setTimeout(function () {
                        evt.target.disabled = False;
                    }, 0);
            }
        };
    }

    
    
    </script>
{% endblock %}
{% block morebodytag %} onunload=""{% endblock %}
{% block content %}
    <div class="wrappercomment">
      <h1><span style="color: {{ SuperClass_Colours['Verb']|safe }};">Korean</span><span style="color: {{ SuperClass_Colours['Noun']|safe }};">-English </span><span style="color: {{ SuperClass_Colours['Particle']|safe }};">Interlinear</span></h1>
    </div>
    
    <div class="wrappercomment">
    <h4>Notes</h4>
    <p>
        This program generates crude literal/word-for-word translations with the two languages stacked together with tappable/popup information boxes. It is designed for learning vocabulary and grammar with any text you choose. The generated pages are self-contained single html files ideal for downloading/saving for offline reading. As it is automatic, by simple dictionary look-ups, the translation and grammar aids are only possibilities. This roughness prevents focusing on the English and the literal translation offers unique insights into the Korean.
    </p>
    </div>
    
    <div class="wrappercomment">  
      <form role="form" method='POST' action='/generate'>
		<h4>Enter Text</h4>
		<p>Type or paste Korean to generate interlinear from. Max: 5000 characters / ~1600 words. Lines starting with # are treated as untranslated comments. Tip: break up paragraphs into shorter passages.</p>
		<p><textarea class="form-control" placeholder = "" name="entry" id="entry" rows="20" cols="40" maxlength="5000"></textarea></p>
		<p><input class="btn btn-default" id="butt" type="submit" value="Generate (click once and wait!)"></p>
      </form>
    </div>
    
    <div class="wrappercomment">
    <h4 style="margin-bottom: .5em;">Sample Text</h4>
    <p style="margin-bottom: .5em;">
    Check out this great book, <a style="color:{{ SuperClass_Colours['Particle']|safe }}" href="https://open.umn.edu/opentextbooks/textbooks/422">Korean Through Folktales</a>, for text at different reading levels. You can also copy and paste from the sample text below:<br>
    <br>
    </p>
    <p style="margin-bottom: .5em;">#애국가 - Korean National Anthem</p>
    <p style="margin-bottom: .5em;">
    동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
    </p>
    <p style="margin-bottom: .5em;">
    남산 위에 저 소나무 철갑을 두른 듯바람 서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
    </p>
    <p style="margin-bottom: .5em;">
    가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
    </p>
    <p style="margin-bottom: .5em;">
    이 기상과 이 맘으로 충성을 다하여 괴로우나 즐거우나 나라 사랑하세 무궁화 삼천리 화려 강산 대한 사람 대한으로 길이 보전하세
    </p>
    <p style="margin-bottom: .5em;">
    # The above sample from https://search.naver.com/search.naver? sm=tab_sug.top &where=nexearch &query=%EC%95%A0%EA%B5%AD%EA%B0%80+%EA%B0%80%EC%82%AC &oquery=thskrl &tqi=UJW6FlprvTVsssmd1UNssssstoZ-093930 &acq=dornrrk &acr=1 &qdt=0
    </p>
    </div>
    
    <div class="wrappercomment">
    <h4>More Information</h4>
    <p>
    Check out the <a style="color:{{ SuperClass_Colours['Particle']|safe }}" href="https://github.com/danjclegg/korean-english-interlinear">github page</a> for more technical information on the program. See footer for license and disclaimer.
    </p>
    </div>
{% endblock %}
